button {
  padding: 12px;
  margin: 0 10px;
  width: 80px;
  border-radius: 10px;
  background-color: rgb(25, 135, 84);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

button:active {
  background-color: rgb(4, 108, 4);
  border: 1px solid rgb(4, 108, 4);
}
