.messageRobot {
  display: flex;
  align-items: center;
}

.messageUser {
  display: flex;
  margin: 40px 0 0;
  align-items: center;
  justify-content: flex-end;
}

.responseText {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  max-width: 300px;
  font-size: 17px;
  margin: 0 5px;
}

.responseText > p {
  margin: 0;
}

.messageUser > input {
  margin: 0 20px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid grey;
}

/* profile */
.profilUser {
  width: 40px;
}
